image: plugins/docker:20.17.2
{{#if build.tags}}
tags:
{{#each build.tags}}
  - {{this}}
{{/each}}
{{/if}}
manifests:
  -
    image: plugins/docker:20.17.2-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: plugins/docker:20.17.2-linux-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: plugins/docker:20.17.2-windows-1809-amd64
    platform:
      architecture: amd64
      os: windows
      version: 1809
  -
    image: plugins/docker:20.17.2-windows-ltsc2022-amd64
    platform:
      architecture: amd64
      os: windows
      version: ltsc2022
