image: plugins/heroku:buildx-{{#if build.tag}}{{trimPrefix "v" build.tag}}{{else}}latest{{/if}}
{{#if build.tags}}
tags:
{{#each build.tags}}
  - {{this}}
{{/each}}
{{/if}}
manifests:
  -
    image: plugins/heroku:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}buildx-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: plugins/heroku:{{#if build.tag}}{{trimPrefix "v" build.tag}}-{{/if}}buildx-linux-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
